
<h1>Addresses</h1>

<button mat-raised-button style="float: right;" (click)="onCreate()">
    <mat-icon>add</mat-icon>
</button>

<table mat-table [dataSource]="dataSource" style="width: 80%;" class="mat-elevation-z8">

<!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->

<!-- AddressLine1 Column -->
<ng-container matColumnDef="AddressLine1">
<th mat-header-cell *matHeaderCellDef>Address Line 1 </th>
<td mat-cell *matCellDef="let element"> {{element.AddressLine1}} </td>
</ng-container>

<!-- AddressLine2 Column -->
<ng-container matColumnDef="AddressLine2">
<th mat-header-cell *matHeaderCellDef> Address Line 2 </th>
<td mat-cell *matCellDef="let element"> {{element.AddressLine2}} </td>
</ng-container>

<!-- AddressLine3 Column -->
<ng-container matColumnDef="AddressLine3">
<th mat-header-cell *matHeaderCellDef> Address Line 3 </th>
<td mat-cell *matCellDef="let element"> {{element.AddressLine3}} </td>
</ng-container>

<!-- City Column -->
<ng-container matColumnDef="City">
<th mat-header-cell *matHeaderCellDef> City </th>
<td mat-cell *matCellDef="let element"> {{element.City}} </td>
</ng-container>

<!-- Country Column -->
<ng-container matColumnDef="Country">
<th mat-header-cell *matHeaderCellDef> Country </th>
<td mat-cell *matCellDef="let element"> {{element.Country}} </td>
</ng-container>

<!-- PostalCode Column -->
<ng-container matColumnDef="PostalCode">
    <th mat-header-cell *matHeaderCellDef> PostalCode </th>
    <td mat-cell *matCellDef="let element"> {{element.PostalCode}} </td>
</ng-container>

<!-- edit and delete Column -->
<ng-container matColumnDef="Operations">
<th mat-header-cell *matHeaderCellDef> Operations </th>
<td mat-cell *matCellDef="let element"> 
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onEdit(element)">
    <mat-icon>edit</mat-icon>
    <span>Update</span>
  </button>
  
  <button mat-menu-item (click)="onDelete(element.AddressId)">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
 </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



